#contact h1 {
    font-weight: bold;
    color: white;
    font-size: 8vh;
    margin-bottom: 2%;
    margin-top: 5%;
}
#contact .contactform{
    border:5px solid #FFC86B;
    border-radius: 15px;
    padding: 2%;
}

#contact p{
    line-height: 1.8;
    font-weight: bold;
    font-size: 123%;
    color: #FFC86B;
   
}
.contactform .error{
    color: red;
    font-weight: 699;
    font-size: 18px;
    display: none;
}
#contact button{
    color: #FFC86B;
    border: 3px solid #FFC86B;
    
}

#contact  button:hover {
    color: white;
    border: 3px solid white;
    transition: all 0.2s ease-in;
}